{% extends "base/base_admin.html" %}

{% block content %}
<div class="section">
    <div class="block container">
        <div class="columns">
            <div class="column is-narrow">
                <a class="button" href="https://opulent-rotary-phone-rrrrg74gpxf5xx5-8000.app.github.dev/snapshots">
                    Back
                </a>
            </div>
            <div class="column">
                <h1 class="title">New snapshot</h1>
            </div>
        </div>
        <form>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name" value="{{snapshot.name}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Version</label>
                <div class="control">
                    <input class="input" type="number" placeholder="Version" value="{{snapshot.version}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Status</label>
                <div>{% if snapshot.active %}Active{% else %}Inactive{% endif %}</div>
            </div>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}