{% extends "base/base_admin.html" %}

{% block content %}
<div class="section">
    <div class="block container">
        <div class="columns">
            <div class="column is-narrow">
                <a class="button" href="/snapshots">
                    Back
                </a>
            </div>
            <div class="column">
                <h1 class="title">New snapshot</h1>
            </div>
        </div>
        <form>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input id="name" name="name" class="input" type="text" placeholder="Name">
                </div>
            </div>
            <div class="field">
                <label class="label">Version</label>
                <div class="control">
                    <input id="version" name="version" class="input" type="number" placeholder="Version"
                        value="{{version}}">
                </div>
            </div>
            <input class="button" type="submit" value="Submit" hx-post="/snapshots/new">
        </form>
    </div>
</div>
{% endblock %}