{% extends "base/base_admin.html" %}

{% block content %}
<div class="section">
    <div class="block container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Snapshots</h1>
            </div>
            <div class="column is-narrow">
                <a href="https://opulent-rotary-phone-rrrrg74gpxf5xx5-8000.app.github.dev/snapshots/new">
                    <button class="button">Add new snapshot</button>
                </a>
            </div>
        </div>
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
                <th>Name</th>
                <th>Version</th>
                <th>Active</th>
                <th></th>
            </thead>
            <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                {% if snapshots %}
                {% for item in snapshots %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.version }}</td>
                    <td>{% if item.active %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <a href="/snapshots/{{item.id}}">
                            <span class="icon"><i class="fa-solid fa-eye"></i></span>
                        </a>
                        <a hx-delete="/snapshots/{{item.id}}">
                            <span class="icon"><i class="fa-solid fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>No snapshots yet</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}